.benefits__top-title {
  font-weight: 700;
  font-size: 18px;
  padding: 35px 0 35px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  width: 273px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 520px;
    padding: 47px 0 38px;
  }

}

.benefits__top-text {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  padding-bottom: 16px;
  text-align: center;
  width: 257px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 520px;
    padding-bottom: 55px;
  }
  @media (min-width: 1200px) {
    width: 484px;
    padding-bottom: 44px;
  }
}

.benefits__wrapper--special::after {
  content: "";
  display: block;
  background-image: url(../img/down-section.svg);
  height: 37px;
  width: 768px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    display: none;
  }

}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;

}


.benefits__item-title {
  font-weight: 700;
  font-size: 18px;

}

.benefits__wrapper {
  background-color: #81B3D2;
  position: relative;
  overflow: hidden;
}

.benefits__container {
  margin: 0 auto;
  width: 320px;
  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}
.benefits__img {
  display: block;
}

.benefits__item {
  margin: 0 auto;

}

.benefits__img-container {
  text-align: center;
}


@media (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits__item-container {
    display: flex;
  }
  .benefits__item-container-down {
    display: flex;
    flex-direction: row-reverse;
  }
}
