.benefits__item-title {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  padding: 35px 0 35px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.benefits__item-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  padding-bottom: 16px;
  text-align: center;
}

.benefits__item-text::before {
  content: "";
  display: block;
  background-image: url(../img/down-section.svg);
  height: 37px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.blue {
  background-color: #81B3D2;
}

.blue-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 11px;
  padding-top: 33px;

}

.benefits__item-list-item-devision,
.benefits__item-list-item-section,
.benefits__item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
}

.blue-namber {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 17px;
}

.blue-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 40px;
  color: #FFFFFF;
  text-align: center;
}

.benefits__item-list-item-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

}

.benefits__item-list-item-title-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 20px 0 20px;
  background-color: #EEEEEE;
}

.enefits__item-list-item-namber-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #EEEEEE;
}

.benefits__item-list-item-text-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #EEEEEE;

}

.housing::before {
  content: "";
  display: block;
  background-image: url(../img/icon-house.svg);
  color: #81B3D2;
  height: 39px;
  width: 37px;
}

.eat::before {
  content: "";
  display: block;
  background-image: url(../img/icon-burger.svg);
  color: #81B3D2;
  height: 39px;
  width: 37px;
}

.souvenir::before {
  content: "";
  display: block;
  background-image: url(../img/icon-gift.svg);
  color: #81B3D2;
  height: 39px;
  width: 37px;
  background-repeat: no-repeat;
}

.housing {
  display: flex;
  gap: 8px;
  align-items: center;
}

.eat {
  display: flex;
  gap: 8px;
  align-items: center;
}

.souvenir {
  display: flex;
  gap: 8px;
  align-items: center;
}


.benefits__item-list-item-devision-item {
  display: flex;
  flex-direction: column;
  padding-top: 31px;

}

.benefits__item-list-item-devision-text {
  padding-top: 16px;
}

.benefits__item-list-item-devision-item:nth-child(5){
  padding-bottom: 46px;
}


