.catalog-info__baner {
  background-image: url("../img/catalog/back-desktop.png");
  background-position: center;
  background-size: cover;
  height: 214px;
  padding-top: 68px;
  text-align: center;

  @media (min-width: @tablet-width) {
    height: 290px;
  }
}

.catalog-info__baner-img {
  align-items: center;
  justify-content: center;
  margin: 0% auto;
  width: 229px;

  @media (min-width: @tablet-width) {
    width: 460px;
    padding-top: 27px;
  }
}

.catalog-info::after {
  content: "";
  display: block;
  background-image: url("../img/down-image.svg");
  height: 57px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.catalog-info {
  position: relative;
}
