.social__link--vkontakte::after {
  content: "";
  display: block;
  background-image: url(../img/vk.svg);
  width: 48px;
  height: 48px;
  color: #81B3D2;
}

.social__link--telegram::after {
  content: "";
  display: block;
  background-image: url(../img/telegram.svg);
  width: 48px;
  height: 48px;
  color: #81B3D2;
}

.social__link--youtube::after {
  content: "";
  display: block;
  background-image: url(../img/youtube.svg);
  width: 48px;
  height: 48px;
  color: #81B3D2;
}

.visually-hidden {
  display: none;
}

.main-footer__social {
  display: flex;
  list-style: none;
  gap: 6px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  padding-bottom: 46px;
}

.footer__list-item-img::after {
  content: "";
  display: block;
  background-image: url(../img/htmlacademy.svg);
  width: 27px;
  height: 34px;
  background-repeat: no-repeat;
}

.footer__list-item {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  justify-content: center;
}

.footer__list-title {
  text-align: center;
}

.footer__list-title--position {
  padding-top: 28px;
  padding-bottom: 33px;

}

.footer__list-item{
  padding-bottom: 28px;
}
