.gray {
  background: #eeeeee;
}

.gray__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #eeeeee;
  color: #333333;
  line-height: 15px;
  width: 267px;

}

.gray__number {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #eeeeee;
  color: #333333;
  line-height: 15px;
}

.gray__title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 20px 0 20px;
  background-color: #eeeeee;
}
