.gray {
  background: #eeeeee;
  margin: 0;

  @media (min-width: @tablet-width) {
    //width: 256px;
    //padding: 52px 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    //padding: 62px 50px 41px 50px;
  }
}

.gray__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #eeeeee;
  color: #333333;
  line-height: 21px;
  width: 267px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 190px;
    padding-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    width: 259px;
  }
}

.gray__number {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #eeeeee;
  color: #333333;
  line-height: 21px;
  margin: 0;
}

.gray__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 20px 0 20px;
  background-color: #eeeeee;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    width: 136px;
    margin: 0 auto;
    padding-top: 51px;
  }
}
