.header {
  background-color: #ffffff;

}

.header__logo {
  text-decoration: none;
  color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.header__logo-img {
  width: 185px;
  height: 96px;
}

.main-nav__list {
  display: none;
}

.header__button {
  width: 23px;
  height: 22px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.header__inner {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: end;
  height: 56px;

}
