.info {
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.info__baner {
  height: 389px;
  padding-top: 90px;
}

.info::after {
  content: "";
  display: block;
  background-image: url(../img/down-img.svg);
  height: 57px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
}
