.interested-item-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  padding: 61px 0 20px;
}

.interested-item-text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.interested-item-button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #FFFFFF;
  background-color: #81B3D2;
  text-decoration: none;
  text-align: center;
  margin: 32px 0 49px;
  padding: 16px;
  width: 284px;
  text-align: center;

}
.interested-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
