.sublist {
  padding: 0;
  margin: 24px auto 49px;
  list-style: none;
  width: 285px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-around;
  }
}

.sublist__item {
  position: relative;
  padding-left: 48px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 256px;
    height: 331px;
    margin: 0;
    padding: 0;
  }
}

.sublist__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-house.svg");
  height: 39px;
  width: 37px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    height: 77px;
    width: 77px;
    top: 57px;
    left: 87px;
    padding-top: 60px;
  }

  @media (min-width: @desktop-width) {
    top: 68px;
  }
}

.sublist__item--food::before {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @media (min-width: @tablet-width) {
    top: 59px;
    left: 86px;
    padding-top: 60px;
    width: 86px;
  }

  @media (min-width: @desktop-width) {
    top: 62px;
  }
}

.sublist__item--souvenir::before {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @media (min-width: @tablet-width) {
    top: 61px;
    left: 96px;
    padding-top: 60px;
    height: 92px;
  }

  //@media (min-width: @desktop-width) {}
}

.sublist__title {
  padding: 8px 0 0 0;
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 158px;
    text-align: center;
    margin: 0;
    font-size: 21px;
  }
}

.sublist__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  width: 245px;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    text-align: center;
    margin: 0 auto;
    width: 168px;
  }
}
