.sublist {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 320px;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.sublist__item {
  position: relative;
  padding-left: 48px;
  margin-bottom: 25px;
  @media (min-width: 768px) {
    width: 256px;
    height: 331px;
    margin: 0;
    padding: 0;
    }
  }

.sublist__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-house.svg");
  height: 39px;
  width: 37px;
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 0;

  @media (min-width: 768px) {
    background-image: url("../img/icon-housebig.svg");
    height: 77px;
    width: 77px;
    top: 39px;
    left: 83px;
    padding-top: 60px;
  }
}

.sublist__item--food::before {
  background-image: url("../img/icon-burger.svg");

  @media (min-width: 768px) {
    background-image: url("../img/icon-burgerbig.svg");
    top: 39px;
    left: 83px;
    padding-top: 60px;
  }
}

.sublist__item--souvenir::before {
  background-image: url("../img/icon-gift.svg");

  @media (min-width: 768px) {
    background-image: url("../img/icon-giftbig.svg");
    top: 39px;
    left: 83px;
    padding-top: 60px;
    height: 77px;
  }
}

.sublist__title {
  padding: 8px 0 0 0;
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    padding-top: 158px;
    text-align: center;
  }
}

.sublist__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  width: 245px;
  @media (min-width: 768px) {
    padding-top: 24px;
    text-align: center;
    margin: 0 auto;
    width: 190px;
  }
}
