.video__list-title {
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  padding-bottom: 40px;
  text-align: center;
  margin: 0;
}

.video__list-text {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 38px;
  text-align: center;
  margin: 0;
}

.video-container {
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
}
